- provide :title, @product.name

.box.row
	.image.col-md-3.thumbnail
		= image_tag @product.image, class: "img-responsive" 
	.information.col-md-5
		%h2= @product.name
		%p=  @product.description
		.counter-button-preco
			%h3= "R$ #{@product.preco.to_s.gsub(/\./,',')}"
			.counter-button	
				.counter
					= render "counter"

				/ Button
				= link_to @product do
					%button{:class=> "btn btn-primary pull-right", :role => 'buttom'} Comprar
	%aside.additional-column.col-md-3
		
		

		
 