!!! 5
%html
	%head
		%title= yield(:title) 
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true 
		= csrf_meta_tags

	%body

		%header
			%nav.navbar.navbar-default.margin-zero
				.container-fluid
					.navbar-header
			.second-bar	
			.container
					
			
		%main
			.container
				= yield 

		%footer
			.container
				= image_tag "monukuruboo.svg", title:"monokorobo", alt:"monokorobo"
			.first-floor
			.second-floor


